---
import Layout from '@layouts/Layout.astro';
import Shadow from '@components/Shadow.astro';
import OptimizedPhoto from '@components/OptimizedPhoto.astro';
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const photoCategories = await getCollection("photo_categories");

	return photoCategories.map(category => ({
		params: { slug: category.id },
		props: { category },
	}));
};

const { category } = Astro.props;

const photos = (await getCollection("photos"))
	.filter(photo => photo.data.category.id === category.id)
	.map(photo => {
		const image = photo.data.image;
		const verticalRatio = Math.round(image.height / image.width);
		return {
			image: image,
			description: photo.data.description,
			href: `/photo/${photo.id}`,
			classes: {
				'place-self-center': true,
				'row-span-2': (verticalRatio >= 2),
				'row-span-1': (verticalRatio <= 1)
			},
		};
	});

const gridClasses = [
	"grid grid-flow-row-dense gap-6",
	{
		// Base grid of 1 if one or less photos
		"grid-cols-1": photos.length <= 1,
		// Base grid of 2 if at least 2 photos
		"grid-cols-2": photos.length >= 2,
		// Large screen grids also require more photos to take effect
		"lg:grid-cols-3": photos.length >= 3,
		"2xl:grid-cols-4": photos.length >= 4
	}
];
---
<Layout title={category.data.title}>
	{/* TODO: add back button? */}
	<h1 class="font-mono font-bold text-3xl text-center p-3">{category.data.title}</h1>
	{/* TODO: improve this page if low amount of photos? */}
	<div class:list={gridClasses}>
		{photos.map(photo =>
			<div class:list={photo.classes}>
				<Shadow>
					<a href={photo.href}>
						<OptimizedPhoto image={photo.image} alt={photo.description} />
					</a>
				</Shadow>
			</div>
		)}
	</div>
</Layout>
